h1 {
    color:darkblue;
    font-size: 72px;
}

.force {
    color:darkblue;
    font-size: 72px;
}


h2 {
    color:teal;
    /* font-weight: bold;  */
}

body {
    color:cadetblue;
    /* background-color:bisque; */
}