* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
    margin: 10px auto;
    box-sizing: border-box; /* includes margin in heigh and width */
    /* background-color: rgb(1, 24, 67) */
}

body {
    border: 5px dotted aqua;

}

h1 {
    color: darkcyan;
    font-size: 4em;
    text-align: center;

    border: 10px dashed aquamarine;
    padding: 20px;
    margin: auto;

    /* width: */
}

h2 {
    color:mediumvioletred;
    background-color: lightpink;
}

ul, ol {
    color: slateblue;
    font-size: 24px;
    /*prevent bullet points and numbers from appearing outside of content container*/
    padding-left: 35px;
}

ul {
    margin: center;
    max-width: 350px;

}

ol {
    margin-right: auto;
    max-width: 600px;
    
}

a {
    color: darkcyan;
    font-size: 24px;
}

/* body {
    color:cadetblue;
    background-color:rgb(190, 241, 241);
} */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 20%;
}


.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ingredients {
    background-color: rgb(253, 231, 235);
}

.steps {
    /* float: left;
    /* left: 0px; */
    /* margin: 0%; */ 
    border: 5px dotted rgb(251, 241, 157);
    /* width: 100%; */
}
