* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color:darkblue;
    font-size: 72px;
}

h2 {
    color:mediumvioletred;
    background-color: lightpink;
    /* font-weight: bold;  */
}

/* body {
    color:cadetblue;
    background-color:rgb(190, 241, 241);
} */

img {
    border-radius: 20%;
}